@page
@model AlvanUastWebsiteM.Pages.Customize.Notice.CreateModel
@{
    Layout = "_customize";
}

<h1>مدیریت اطلاعیه ها</h1>

<h4>افزودن اطلاعیه جدید</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page="Create">
            <div class="form-group">
                <label class="control-label">عنوان</label>
                <input asp-for="notice.Title" class="form-control" />
                <span asp-validation-for="notice.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">متن</label>
                <textarea asp-for="notice.Body" class="form-control"></textarea>
                <span asp-validation-for="notice.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">تاریخ</label>
                <input asp-for="notice.Date" type="text" id="gdate" class="form-control d-none" />
                <input class="form-control" type="text" name="date" id="date" value="" />
                <span  asp-validation-for="notice.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">بازگشت</a>
</div>

@section Scripts {
    <script>
        $(document).ready(
            function () {
                $("#date").persianDatepicker({
                    isRTL: !0,
                    formatDate: "YYYY/MM/DD",
                    persianNumber: !0,
                    fontSize: 13,
                    calendarPosition: {
                        x: 0,
                        y: 0,
                    },
                    onSelect: function () {
                        $("#gdate").val($("#date").attr("data-gdate"));
                    }
                });
            });
    </script>
}