<div class="staticmynav" id="mynav">
    <div class="row mynavbar">
        <div class="col-12 align-self-start">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-xs-4 col-4 ">
                    <div class="large-nav-menu d-none d-lg-flex justify-content-center ">
                        <ul class="nav flex-nowrap ">
                            <li class="nav-item"><a id="modiriatDDB2" class="nav-link text-white">مدیریت</a></li>
                            <li class="nav-item"><a id="amoozeshDDB2" class="nav-link text-white">آموزش</a></li>
                            <li class="nav-item"><a id="pajooheshDDB2" class="nav-link text-white">پژوهش</a></li>
                            <li class="nav-item"><a id="daneshjooeeDDB2" class="nav-link text-white">دانشجویی</a></li>
                            <li class="nav-item"><a id="edariDDB2" class="nav-link text-white">اداری</a></li>
                            <!--DROPDOWN-MENU-MODIRIAT-->
                            <div class="dropdown-menu" id="modiriatDDM2">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12 dropdown-title">
                                                    <span>حوزه ریاست</span>
                                                    <hr class="m-0">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/رئیس دانشگاه">رئیس دانشگاه</a></li>
                                                        <li><a href="/Menu/اساس نامه">اساس نامه</a></li>
                                                        <li><a href="/Menu/ساختار سازمانی">ساختار سازمانی</a></li>
                                                        <li><a href="/Menu/آیین نامه و مقررات">آیین نامه و مقررات</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/هیئت امنا">هیئت امنا</a></li>
                                                        <li><a href="/Menu/مدیر امور حقوقی">مدیر امور حقوقی</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12 dropdown-title">
                                                    <span>معاونت ها</span>
                                                    <hr class="m-0">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/معاونت آموزشی">معاونت آموزشی</a></li>
                                                        <li><a href="/Menu/معاونت پژوهشی">معاونت پژوهشی</a></li>
                                                        <li><a href="/Menu/معاونت فناوری اطلاعات و ارتباطات">معاونت فناوری اطلاعات و ارتباطات</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/معاونت فرهنگی و دانشجویی">معاونت فرهنگی و دانشجویی</a></li>
                                                        <li><a href="/Menu/معاونت اداری و مالی">معاونت اداری و مالی</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 text-center">
                                            <br>
                                            <br>
                                            <span class="dropdown-img">مدیریت</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--DROPDOWN-MENU-AMOOZESH-->
                            <div class="dropdown-menu" id="amoozeshDDM2">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12 dropdown-title">
                                                    <span>آموزشی و تحصیلات تکمیلی</span>
                                                    <hr class="m-0">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/امور آموزشی">امور آموزشی</a></li>
                                                        <li><a href="/Menu/امور تحصیلات تکمیلی">امور تحصیلات تکمیلی</a></li>
                                                        <li><a href="/Menu/آموزش بلند مدت">آموزش بلند مدت</a></li>
                                                        <li><a href="/Menu/آموزش کوتاه مدت">آموزش کوتاه مدت</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/فرم های آموزشی">فرم های آموزشی</a></li>
                                                        <li><a href="/Menu/قوانین و مقررات آموزشی">قوانین و مقررات آموزشی</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12 dropdown-title">
                                                    <span>رشته های تحصیلی</span>
                                                    <hr class="m-0">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/فناوری الکترونیک صنعتی">فناوری الکترونیک صنعتی</a></li>
                                                        <li><a href="/Menu/فناوری پلیمر - رنگ سازی">فناوری پلیمر - رنگ سازی</a></li>
                                                        <li><a href="/Menu/فناوری صنایع شیمیایی">فناوری صنایع شیمیایی</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/حسابداری">حسابداری</a></li>
                                                        <li><a href="/Menu/ایمنی کار و حفاظت فنی">ایمنی کار و حفاظت فنی</a></li>
                                                        <li><a href="/Menu/برق صنعتی">برق صنعتی</a></li>
                                                        <li><a href="/Menu/شیمی آزمایشگاهی - صنعتی">شیمی آزمایشگاهی - صنعتی</a></li>
                                                        <li><a href="/Menu/صنایع شیمیایی - رنگ سازی">صنایع شیمیایی - رنگ سازی</a></li>
                                                        <li><a href="/Menu/مکانیک تاسیسات - صنعتی">مکانیک تاسیسات - صنعتی</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 text-center">
                                            <br>
                                            <br>
                                            <span class="dropdown-img">آموزش</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--DROPDOWN-MENU-PAJOOHESH-->
                            <div class="dropdown-menu" id="pajooheshDDM2">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12 dropdown-title">
                                                    <span>پژوهشی و فناوری</span>
                                                    <hr class="m-0">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/امور پژوهشی">امور پژوهشی</a></li>
                                                        <li><a href="/Menu/امور فناوری">امور فناوری</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/مرکز رشد و نوآوری">مرکز رشد و نوآوری</a></li>
                                                        <li><a href="/Menu/خبرنامه رنگ ایران">خبرنامه رنگ ایران</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12 dropdown-title">
                                                    <span>آزمایشگاه ها و پژوهشکده ها</span>
                                                    <hr class="m-0">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/آزمایشگاه شیمی">آزمایشگاه شیمی</a></li>
                                                        <li><a href="/Menu/آزمایشگاه نساجی">آزمایشگاه نساجی</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/واحد تحقیق و توسعه">واحد تحقیق و توسعه</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 text-center">
                                            <br>
                                            <br>
                                            <span class="dropdown-img">پژوهش</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--DROPDOWN-MENU-DANESHJOOEE-->
                            <div class="dropdown-menu" id="daneshjooeeDDM2">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12 dropdown-title">
                                                    <span>دانشجویی و فرهنگی</span>
                                                    <hr class="m-0">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/امور دانشجویی">امور دانشجویی</a></li>
                                                        <li><a href="/Menu/امور فرهنگی و اجتماعی">امور فرهنگی و اجتماعی</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/امور تربیت بدنی">امور تربیت بدنی</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12 dropdown-title">
                                                    <span>امور دانشجویی</span>
                                                    <hr class="m-0">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/اداره خوابگاه ها">اداره خوابگاه ها</a> </li>
                                                        <li><a href="/Menu/اداره تغذیه">اداره تغذیه</a></li>
                                                        <li><a href="/Menu/اداره رفاه">اداره رفاه</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/صندوق رفاه دانشجویان">صندوق رفاه دانشجویان</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 text-center">
                                            <br>
                                            <br>
                                            <span class="dropdown-img">دانشجویی</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--DROPDOWN-MENU-EDARI-->
                            <div class="dropdown-menu" id="edariDDM2">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12 dropdown-title">
                                                    <span>اداری و مالی</span>
                                                    <hr class="m-0">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/امور اداری">امور اداری</a></li>
                                                        <li><a href="/Menu/امور شهریه">امور شهریه</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/امور مالی">امور مالی</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12 dropdown-title">
                                                    <span>برنامه ریزی و توسعه</span>
                                                    <hr class="m-0">
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/امور فناوری اطلاعات">امور فناوری اطلاعات</a></li>
                                                        <li><a href="/Menu/ارتباط با صنعت">ارتباط با صنعت</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <ul>
                                                        <li><a href="/Menu/طرح‌های عمرانی">طرح‌های عمرانی</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 text-center">
                                            <br>
                                            <br>
                                            <span class="dropdown-img">اداری</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="small-nav-menu d-lg-none text-center"> <a id="offcanvas-btn2" role="button"><i class="bi bi-list text-white"></i></a> </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4 text-center">
                    <div class="logo2"> <a href="@Url.Content("~/")"><img src="~/images/logo.png" alt="" /></a> </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-xs-4 col-4">
                    <div class="large-left-nav-menu">
                        <ul class="nav flex-nowrap justify-content-center ">
                            <li class="nav-item"><a onclick="Swal.fire({position: 'center',icon: 'info',title: 'The English version is under development and will be available soon. Thanks for your patience',showConfirmButton: false,timer: 5000})" class="nav-link text-white">EN</a></li>
                            <li class="nav-item"><a href="#" type="button" class="nav-link text-white" data-toggle="modal" data-target="#searchModal"><i class="bi bi-search"></i></a></li>
                            <li class="nav-item"><a href="@Url.Content("~/")" class="nav-link text-white d-none d-sm-inline-block"><i class="bi bi-house-door"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--SEARCH MODAL-->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-transparent position-absolute" style="top:120px">
            <form asp-page="Search" method="get" class="input-group">
                <div class="input-group-prepend">
                    <button class="btn" style="background: #0579a4" type="submit"><i class="text-white bi bi-search"></i></button>
                </div>
                <input name="search" type="text" class="form-control" placeholder="جستجو..." aria-label="search">
            </form>
        </div>
    </div>
</div>