<!--mobile offcanvas-->
<div class="p-offcanvas" id="p-offcanvas">
    <div class="offcanvas" id="offcanvas-container">
        <div class="row offcanvas-close position-absolute"> <a id="offcanvas-close"><i class="bi bi-x"></i></a> </div>
        <div class="accordion myaccording" id="accordionExample">

            <!--MODIRIAT ACCORDING LIST-->
            <div class="card bg-transparent">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-block text-left accordion-btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> مدیریت <span class="position-absolute bi bi-chevron-down"></span> </button>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list-group ml-3">
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/رئیس دانشگاه">رئیس دانشگاه</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/اساس نامه">اساس نامه</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/آیین نامه و مقررات">آیین نامه و مقررات</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/هیئت امنا">هیئت امنا</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/ساختار سازمانی">ساختار سازمانی</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--AMOOZESH ACCORDING LIST-->
            <div class="card bg-transparent">
                <div class="card-header" id="headingTwo">
                    <button class="btn btn-block text-left accordion-btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> آموزش <span class="position-absolute bi bi-chevron-down"></span> </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list-group ml-3">
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/امور آموزشی">امور آموزشی</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/امور تحصیلات تکمیلی">امور تحصیلات تکمیلی</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/فرم های آموزشی">فرم های آموزشی</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/قوانین و مقررات آموزشی">قوانین و مقررات آموزشی</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--PAJOOHESH ACCORDING LIST-->
            <div class="card bg-transparent">
                <div class="card-header" id="headingThree">
                    <button class="btn btn-block text-left accordion-btn" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"> پژوهش <span class="position-absolute bi bi-chevron-down"></span> </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list-group ml-3">
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/امور پژوهشی">امور پژوهشی</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/امور فناوری">امور فناوری</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/مرکز رشد و نوآوری">مرکز رشد و نوآوری</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/خبرنامه رنگ ایران">خبرنامه رنگ ایران</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/آزمایشگاه شیمی">آزمایشگاه شیمی</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--DANESHJOOEE ACCORDING LIST-->
            <div class="card bg-transparent">
                <div class="card-header" id="headingFour">
                    <button class="btn btn-block text-left accordion-btn" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"> دانشجویی <span class="position-absolute bi bi-chevron-down"></span> </button>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list-group ml-3">
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/امور دانشجویی">امور دانشجویی</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/امور فرهنگی و اجتماعی">امور فرهنگی و اجتماعی</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/امور تربیت بدنی">امور تربیت بدنی</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/صندوق رفاه دانشجویان">صندوق رفاه دانشجویان</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--EDARI ACCORDING LIST-->
            <div class="card bg-transparent">
                <div class="card-header" id="headingFive">
                    <button class="btn btn-block text-left accordion-btn" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive"> اداری <span class="position-absolute bi bi-chevron-down"></span> </button>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list-group ml-3">
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/امور اداری">امور اداری</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/امور مالی">امور مالی</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/امور فناوری اطلاعات">امور فناوری اطلاعات</a></li>
                            <li class="list-group-item bg-transparent"><a class="text-white text-decoration-none" href="/Menu/ارتباط با صنعت">ارتباط با صنعت</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>