<!-- Footer -->
<footer class="row bg-dark">
    <div class="col">
        <div class="row bg-secondary justify-content-center">
            <div class="container mx-2">
                <!-- Grid row-->
                <div class="row social-links py-1 d-flex justify-content-between align-items-center text-white">
                    <a class="telegram" target="_blank" href="https://t.me/alvanuast"><i class="bi bi-telegram" style="font-size: 20px;"></i></a>
                    <a class="whatsapp" target="_blank" href="https://wa.me/989359313137"><i class="bi bi-whatsapp" style="font-size: 20px;"></i></a>
                    <a href="@Url.Content("~/")"><img src="~/images/logo-footer.png"></a>
                    <a class="instagram" target="_blank" href="https://www.instagram.com/alvanuast/"><i class="bi bi-instagram" style="font-size: 20px;"></i></a>
                    <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/%D8%AF%D8%A7%D9%86%D8%B4%DA%AF%D8%A7%D9%87-%D8%A7%D9%84%D9%88%D8%A7%D9%86-%D8%AB%D8%A7%D8%A8%D8%AA/"><i class="bi bi-linkedin" style="font-size: 20px;"></i></a>
                </div>
                <!-- Grid row-->
            </div>
        </div>
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5 text-white">
            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text">
                <!-- Grid column -->
                <div class="col-md-4 mx-auto mb-4 footer-contact-menu">
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">لینک های مفید داخلی</h6>
                    <hr class="mt-0 d-inline-block mx-auto w-75 bg-secondary">
                    <p> <a class="text-white" href="/Menu/امور آموزشی">امور آموزشی</a> </p>
                    <p> <a class="text-white" href="/Menu/امور تحصیلات تکمیلی">امور تحصیلات تکمیلی</a> </p>
                    <p> <a class="text-white" href="/Menu/امور پژوهشی">امور پژوهشی</a> </p>
                    <p> <a class="text-white" href="/Menu/امور فناوری اطلاعات">امور فناوری اطلاعات</a> </p>
                    <p> <a class="text-white" href="/Menu/امور دانشجویی">امور دانشجویی</a> </p>
                    <p> <a class="text-white" href="/Menu/امور اداری">امور اداری</a> </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 mx-auto mb-4 footer-contact-menu">
                    <!-- Links -->
                    <h6 class="font-weight-bold">لینک های مفید خارجی</h6>
                    <hr class="mt-0 d-inline-block mx-auto w-75 bg-secondary">
                    <p> <a target="_blank" class="text-white" href="http://alvansabet.com">شرکت دانش بنیان الوان ثابت</a> </p>
                    <p> <a target="_blank" class="text-white" href="https://www.msrt.ir/fa">وزارت علوم</a> </p>
                    <p> <a target="_blank" class="text-white" href="https://www.uast.ac.ir/fa">دانشگاه جامع علمی کاربردی</a> </p>
                    <p> <a target="_blank" class="text-white" href="https://ha.uast.ac.ir/fa">دانشگاه جامع علمی کاربردی واحد همدان</a> </p>
                    <p> <a target="_blank" class="text-white" href="https://hstp.ir/">پارک علم و فناوری همدان</a> </p>
                    <p> <a target="_blank" class="text-white" href="#">مرکز فنی و حرفه ای الوان ثابت</a> </p>
                </div>
                <!-- Grid column -->
                <!-- ارتباط با ما -->
                <div class="col-md-4 mx-auto mb-md-0 mb-4 footer-contact-menu">
                    <!-- Links -->
                    <h6 class="font-weight-bold">ارتباط با ما</h6>
                    <hr class="mt-0 d-inline-block mx-auto w-75 bg-secondary">
                    <p class="text-justify" style="
        "> همدان، کیلومتر 40 جاده همدان به قزوین، جنب شهرک صنعتی ویان، شرکت تولید رنگ و مواد شیمیایی الوان ثابت، مرکز آموزش علمی کاربردی الوان ثابت</p>
                    <p> تلفن : 35455145-081</p>
                    <p> دورنگار : 35345147-081</p>
                    <p> صندوق پستی : 6553139771</p>
                    <span class="d-block"><a href="https://goo.gl/maps/7am1wDkWGpcqfXav8" target="_blank"><img src="~/images/map.png" height="110" style="width: 100%;border: 3px solid gray;"></a></span>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="row justify-content-center text-black-50"> <span class="w-25 border-top mt-3 mr-1 border-secondary"></span> <a href="#" class="text-white-50 scroll-up-btn"><i style="font-size: 1.5rem" class="bi bi-caret-up-square"></i></a> <span class="w-25 border-top mt-3 ml-1 border-secondary"></span>                    </div>
        <div style="font-size: 11px" class="text-white-50 text-center">طراحی شده توسط واحد فناوری اطلاعات و ارتباطات مرکز آموزش علمی کاربردی الوان ثابت<a class="text-white-50" style="font-size: 11px" target="_black" href="https://github.com/farhad-ariamaram"><i class="ml-1 bi bi-github"></i></a></div>
        <div class="footer-copyright text-center text-white-50" style="font-size: 11px"> ©️ کلیه حقوق متعلق به مرکز آموزش علمی کاربردی الوان ثابت می‌باشد. </div>
        <!-- Copyright -->
    </div>
</footer>